<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <!-- 将日志输出到控制台 -->
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n"/>
        </Console>

        <!-- 将日志输出到文件 -->
        <File name="FileAppender" fileName="logs/email.log" append="true">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n"/>
        </File>

        <!-- 按日期轮转日志文件 -->
        <RollingFile name="RollingFileAppender" fileName="logs/email.log"
                     filePattern="logs/email-%d{yyyy-MM-dd}.log.gz">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <!-- 配置根日志记录器 -->
        <Root level="info">
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="FileAppender"/>
            <AppenderRef ref="RollingFileAppender"/>
        </Root>

        <!-- 为某个包或者类单独定义日志级别 -->
        <Logger name="com.example" level="debug" additivity="false">
            <AppenderRef ref="ConsoleAppender"/>
        </Logger>
    </Loggers>
</Configuration>
